:root {
  --ssc-river-night: #172540;
  --ssc-kankantrie-canopy: #37543b;
  --ssc-story-parchment: #f2f0eb;
  --ssc-kankantrie-root: #733924;
  --ssc-suriname-earth: #995f4e;
  --ssc-ibis-red: #a64732;
}
